[Unit]
Description=Check GitHub for a new Quantorium release

[Timer]
OnBootSec=2min
OnUnitActiveSec=1min
RandomizedDelaySec=15s
Persistent=true
Unit=quantorium-deploy.service

[Install]
WantedBy=timers.target
